<% include partials/header %>

<div class="jumbotron vertical-center">

    <div class="container">

        <h1 class="display-4">Welcome to our blog!</h1>
        <hr class="my-4">
        <p>Football blog is the Europe's largest football blog community!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/posts" role="button">Learn more</a>
        </p>
    </div>
</div>
<% include partials/footer %>